{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb", //"eslint:recommended",
  "rules": {
    "no-console": 0, //off = 0, warn = 1, error = 2
    "no-unused-vars": 1
  }
  // "plugins": ["html", "markdown"]
}